![New York City schoolbus](schoolbus.jpg)

Photo by [Jannis Lucas](https://unsplash.com/@jannis_lucas) on [Unsplash](https://unsplash.com).
<br>

Every year, American high school students take SATs, which are standardized tests intended to measure literacy, numeracy, and writing skills. There are three sections - reading, math, and writing, each with a **maximum score of 800 points**. These tests are extremely important for students and colleges, as they play a pivotal role in the admissions process.

Analyzing the performance of schools is important for a variety of stakeholders, including policy and education professionals, researchers, government, and even parents considering which school their children should attend. 

You have been provided with a dataset called `schools.csv`, which is previewed below.

You have been tasked with answering three key questions about New York City (NYC) public school SAT performance.

In [14]:
# Re-run this cell 
import pandas as pd

# Read in the data
schools = pd.read_csv("schools.csv")

# Preview the data
schools.head()

,school_name,borough,building_code,average_math,average_reading,average_writing,percent_tested
0,"New Explorations into Science, Technology and ...",Manhattan,M022,657,601,601,NaN
1,Essex Street Academy,Manhattan,M445,395,411,387,78.9
2,Lower Manhattan Arts Academy,Manhattan,M445,418,428,415,65.1
3,High School for Dual Language and Asian Studies,Manhattan,M445,613,453,463,95.9
4,Henry Street School for International Studies,Manhattan,M056,410,406,381,59.7

# Analisis Exploratorio

In [15]:
schools.describe()

       average_math  average_reading  average_writing  percent_tested
count    375.000000       375.000000       375.000000      355.000000
mean     432.944000       424.504000       418.458667       64.976338
std       71.952373        61.881069        64.548599       18.747634
min      317.000000       302.000000       284.000000       18.500000
25%      386.000000       386.000000       382.000000       50.950000
50%      415.000000       413.000000       403.000000       64.800000
75%      458.500000       445.000000       437.500000       79.600000
max      754.000000       697.000000       693.000000      100.000000

In [16]:
schools.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 375 entries, 0 to 374
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   school_name      375 non-null    object
 1   borough          375 non-null    object
 2   building_code    375 non-null    object
 3   average_math     375 non-null    int64
 4   average_reading  375 non-null    int64
 5   average_writing  375 non-null    int64
 6   percent_tested   355 non-null    float64
dtypes: float64(1), int64(3), object(3)
memory usage: 20.6+ KB

In [17]:
schools.columns

Index(['school_name', 'borough', 'building_code', 'average_math',
       'average_reading', 'average_writing', 'percent_tested'],
      dtype='object')

In [18]:
schools.index

RangeIndex(start=0, stop=375, step=1)

In [19]:
schools['average_math'].mean()

np.float64(432.944)

# Which NYC schools have the best math results

In [20]:
best_math_schools = schools[['school_name','average_math']].sort_values('average_math',ascending=False)
best_math_schools.info()
best_math_schools = best_math_schools[best_math_schools['average_math'] > (800 * 0.8)]
best_math_schools

<class 'pandas.core.frame.DataFrame'>
Index: 375 entries, 88 to 182
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   school_name   375 non-null    object
 1   average_math  375 non-null    int64
dtypes: int64(1), object(1)
memory usage: 8.8+ KB

                                           school_name  average_math
88                              Stuyvesant High School           754
170                       Bronx High School of Science           714
93                 Staten Island Technical High School           711
365  Queens High School for the Sciences at York Co...           701
68   High School for Mathematics, Science, and Engi...           683
280                     Brooklyn Technical High School           682
333                        Townsend Harris High School           680
174  High School of American Studies at Lehman College           669
0    New Explorations into Science, Technology and ...           657
45                       Eleanor Roosevelt High School           641

# What are the top 10 performing schools based on the combined SAT scores?

In [21]:
# add new column total_SAT
df_schools = pd.DataFrame(schools['school_name'])
df_schools['total_SAT'] = schools['average_math'] + schools['average_reading'] + schools['average_writing']

In [22]:
# Using only sort_values
top_10_schools = df_schools.sort_values('total_SAT',ascending=False).head(10)
top_10_schools

                                           school_name  total_SAT
88                              Stuyvesant High School       2144
170                       Bronx High School of Science       2041
93                 Staten Island Technical High School       2041
174  High School of American Studies at Lehman College       2013
333                        Townsend Harris High School       1981
365  Queens High School for the Sciences at York Co...       1947
5                       Bard High School Early College       1914
280                     Brooklyn Technical High School       1896
45                       Eleanor Roosevelt High School       1889
68   High School for Mathematics, Science, and Engi...       1889

In [23]:
# Using groupby

top_10_schools = df_schools.groupby('school_name')['total_SAT'].sum()
top_10_schools = top_10_schools.sort_values(ascending=False).head(10)
top_10_schools

school_name
Stuyvesant High School                                                   2144
Staten Island Technical High School                                      2041
Bronx High School of Science                                             2041
High School of American Studies at Lehman College                        2013
Townsend Harris High School                                              1981
Queens High School for the Sciences at York College                      1947
Bard High School Early College                                           1914
Brooklyn Technical High School                                           1896
High School for Mathematics, Science, and Engineering at City College    1889
Eleanor Roosevelt High School                                            1889
Name: total_SAT, dtype: int64

In [24]:
# Using pivot_tables
import numpy as np

top_10_schools = df_schools.pivot_table(values = 'total_SAT', index = 'school_name', aggfunc= np.max)
top_10_schools = top_10_schools.sort_values(by = 'total_SAT',ascending=False).head(10)
top_10_schools.head()
top_10_schools = top_10_schools.reset_index()

C:\Users\leper\AppData\Local\Temp\ipykernel_17392\446017004.py:4: FutureWarning: The provided callable <function max at 0x0000020931410680> is currently using DataFrameGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  top_10_schools = df_schools.pivot_table(values = 'total_SAT', index = 'school_name', aggfunc= np.max)

# which single borough has the largest std in the combined SAT score?

In [25]:
df_schools.head()

                                         school_name  total_SAT
0  New Explorations into Science, Technology and ...       1859
1                               Essex Street Academy       1193
2                       Lower Manhattan Arts Academy       1261
3    High School for Dual Language and Asian Studies       1529
4      Henry Street School for International Studies       1197

In [47]:
df_schools['borough'] = schools['borough']
df_schools_unique = df_schools.drop_duplicates(subset= ['borough','school_name'])

df_schools_unique.reset_index()

pvt = pd.DataFrame()
pvt['num_schools'] = df_schools_unique.pivot_table(values = 'school_name', index = 'borough', aggfunc = np.count_nonzero)
pvt['average_SAT'] = df_schools_unique.pivot_table(values = 'total_SAT', index = 'borough', aggfunc = np.mean)
pvt['std_SAT'] = df_schools_unique.pivot_table(values = 'total_SAT', index = 'borough', aggfunc = np.std)

# esto deberia funcionar pero por algun motivo no reconoce school_name
# pvt2 = df_schools_unique.pivot_table(values = 'total_SAT', index = 'borough', aggfunc = {'school_name':'count','total_SAT': [np.mean,np.std]})
pvt2.head()
pvt = pvt[['num_schools','average_SAT','std_SAT']]
pvt = pvt.sort_values('std_SAT',ascending=False)
largest_std_dev = pvt.head(1).round(2)
largest_std_dev

KeyError: "Column(s) ['school_name'] do not exist"

In [40]:
df_schools_unique.head()

                                         school_name  total_SAT    borough
0  New Explorations into Science, Technology and ...       1859  Manhattan
1                               Essex Street Academy       1193  Manhattan
2                       Lower Manhattan Arts Academy       1261  Manhattan
3    High School for Dual Language and Asian Studies       1529  Manhattan
4      Henry Street School for International Studies       1197  Manhattan

In [43]:
df_schools_unique.columns

Index(['school_name', 'total_SAT', 'borough'], dtype='object')